<nav class="flex gap-y-2">
  <div class="nav-item" routerLink="contacts" routerLinkActive="active">
    <div class="icon">
      <mat-icon fontIcon="person" />
    </div>
    <div>Contacts</div>
  </div>
  <div class="nav-item" routerLink="recents" routerLinkActive="active">
    <div class="icon">
      <mat-icon fontIcon="history" />
    </div>
    <div>Recent</div>
  </div>
  <div class="nav-item" routerLink="import" routerLinkActive="active">
    <div class="icon">
      <mat-icon fontIcon="publish" />
    </div>
    <div>Import</div>
  </div>
</nav>
