
<div mat-dialog-title class="text-end">
  <button matDialogClose class="btn">
    <mat-icon fontIcon="close" />
  </button>
</div>
<mat-dialog-content>
  <div class="flex md:items-center my-4 md:my-0">
    <div class="text-6xl md:text-8xl text-stone-500 me-2 md:me-4">
      <mat-icon fontIcon="account_circle" inline />
    </div>
    <div>
      <div class="mb-3 font-bold text-lg md:text-2xl">
        {{ contact.firstName }} {{ contact.lastName }}
      </div>
      <div class="text-xs md:text-base">
        <button (click)="editContact()" class="btn bg-slate-100 me-1 md:me-3">
          <mat-icon fontIcon="edit" /> Edit
        </button>
        <button (click)="deleteContact()" class="btn bg-slate-100">
          <mat-icon fontIcon="delete" /> Delete
        </button>
      </div>
    </div>
    <div class="flex-1 text-end md:pe-4">
      <app-favourite-toggle [contact]="contact" />
    </div>
  </div>
  <div class="grid grid-cols-2 border-b border-gray-200 py-3 px-1">
    <div>
      <div>First Name</div>
      <div class="font-medium text-base">
        {{ contact.firstName }}
      </div>
    </div>
    <div>
      <div>Last Name</div>
      <div class="font-medium text-base">
        {{ contact.lastName }}
      </div>
    </div>
  </div>
  <div class="border-b border-gray-200 py-3 px-1">
    <div>Phone Number</div>
    <div class="font-medium text-base">
      {{ contact.phoneNumber }}
    </div>
  </div>
  <div class="border-b border-gray-200 py-3 px-1">
    <div>Email</div>
    <div class="font-medium text-base">
      {{ contact.email }}
    </div>
  </div>
  <div class="border-b border-gray-200 py-3 px-1">
    <div>Physical Address</div>
    <div class="font-medium text-base">
      {{ contact.physicalAddress }}
    </div>
  </div>
  <div class="border-b border-gray-200 py-3 px-1">
    <div>Category</div>
    <div class="font-medium text-base">
      {{ contact.category || "Not Specified" }}
    </div>
  </div>
</mat-dialog-content>
