<div class="p-24">
  <label class="text-center block bg-slate-300 p-32 mb-4 rounded-xl">
    <div class="text-4xl">
      <mat-icon fontIcon="upload_file" inline />
    </div>
    Click here Import Contacts via CSV
    <input class="hidden" type="file" />
  </label>
  <div class="border border-gray-200 rounded-lg p-4">
    <div class="text-gray-800">Please note the following:</div>
    <ol class="list-decimal ms-4 text-gray-700 dark:text-white">
      <li>
        The <strong>CSV</strong> file must contain the following headers: "FIRST
        NAME", "LAST NAME", "PHONE NUMBER", "EMAIL", and "PHYSICAL ADDRESS".
      </li>
      <li>At least one name(first or last) should be filled.</li>
      <li>The phone numbe <strong>MUST</strong> be filled.</li>
    </ol>
  </div>
</div>
