<div class="p-8">
  <div class="mb-24 text-green-900 flex items-center">
    <mat-icon fontIcon="contacts" />
    <span class="font-bold text-2xl ms-2">Contacts</span>
  </div>
  <nav class="flex flex-col gap-y-2">
    <div class="nav-item active" routerLink="contacts" routerLinkActive="active">
      <mat-icon fontIcon="person" class="me-2" /> Contacts
    </div>
    <div class="nav-item" routerLink="recents" routerLinkActive="active">
      <mat-icon fontIcon="history" class="me-2" /> Recent
    </div>
    <div class="nav-item" routerLink="import" routerLinkActive="active">
      <mat-icon fontIcon="publish" class="me-2" /> Import
    </div>
  </nav>
</div>
