@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", sans-serif;
}

.btn {
  @apply inline-flex items-center gap-1 py-2 px-3 rounded-lg hover:bg-slate-100 dark:hover:bg-slate-800 dark:hover:text-white;
}
